/*Mobile View*/

@media (max-width: 959px){
  body {
    margin: 0 auto;
    font-size: 1.25em;
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: #FAFAFA;
    width: 100%;
  }
  header {
    margin: 0;
    background-color: #0D1A3C;
    color: #FFF;
    text-align: center;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header h3 {
    margin: 0;
    padding: 8.5px 0;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 2%;
  }
  input {
    font-family: 'Montserrat';
    font-size: 1.5em;
    border: none;
    border-bottom: solid black 1px;
    outline: none;
    background-color: #FAFAFA;
  }
  button {
    background-color: #7DABE6;
    color: white;
    border: none;
    outline: none;
    padding: .5% 1%;
    font-size: 1em;
    font-family: 'Montserrat';
  }
  ul {
    list-style: none;
    width: 100%;
    margin: 5% auto 0 auto;
    padding: 0;
    text-align: left;
  }
  li {
    justify-content: space-between;
    padding: 1% 2%;
  }

  #wrapper{
    min-height: 400px;
    margin: 0 auto 25% auto;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 25%;
  }

  #logo{
    height: 40px;
    width: auto;
    display: inline-block;
    margin-right: 3.5%;
  }

  .ask-budget{
    margin: 10% 2% 0 2%;
  }

  #budget-input{
    border: solid 1px #979797;
    border-radius: 10px;
    width: 65%;
    text-align: center;
    font-size: 1em;
  }

  #submit{
    float: right;
    margin-right: 6%;
    border-radius: 8px;
    padding: .38em .45em;
    background-color: #D26628;
  }

  .fa-check-circle-o{
    display: none;
    font-size: 2.15em;
    color: #989898;
    margin-left: 3%;
  }

  .input-items{
    margin: 5% 2% 0 2%;
  }

  .input-items input{
    border: solid 1px #979797;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    margin-top: 5%;
  }

  #price{
    width: 18%;
    margin: 0 5% 0 2%;
  }

  #item{
    width: 40%;
    margin-right: 1.5%;
  }

  #addIt{
    padding: 3px 12px;
    border-radius: 8px;
    font-size: 1.25em;
    background-color: #D8D8D8;
    color: #979797;
  }

  .newEntry{
    float: right;
  }

  .results{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: 5%;
  }

  .bottom-spans{
    width: 100%;
    font-size: 1.3em;
    padding: 15px 0 15px 8.5px;
    color: #FFF;
  }

  #total-span{
    background-color: #52679D;
  }

  #remaining-span{
    background-color: #394B78;
  }

  #reset{
    font-size: 1.6em;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: #0D1A3C;
  }

}

/*Desktop View*/

@media screen and (min-width: 960px) {
  body {
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 300;
    background-color: #FAFAFA;
    width: 100%;
  }
  header {
    margin: 0;
    background-color: #0D1A3C;
    color: #FFF;
    text-align: center;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header h3 {
    margin: 0;
    font-size: 1.4em;
    padding: 8.5px 0;
    font-weight: 300;
    display: inline-block;
  }
  input {
    font-family: 'Montserrat';
    font-size: 1.5em;
    border: none;
    border-bottom: solid black 1px;
    outline: none;
    background-color: #FAFAFA;
    padding: .5%;
  }
  button {
    background-color: #7DABE6;
    color: white;
    border: none;
    outline: none;
    padding: .5% 1%;
    font-size: 1em;
    font-family: 'Montserrat';
  }
  ul {
    list-style: none;
    width: 70%;
    margin: 5% auto 0 auto;
    padding: 0;
    text-align: left;
  }
  li {
    justify-content: space-between;
  }
  #wrapper {
    background-color: #FAFAFA;
    padding: 3% 0;
  }

  #logo{
    height: 40px;
    width: auto;
    display: inline-block;
    margin-right: 1.5%;
  }

  .ask-budget {
    margin: .5% auto 0 auto;
    position: relative;
    text-align: center;
  }

  #budget-input {
    width: 60%;
    margin-left: 2%;
    border: solid 1px #989898;
    border-radius: 7px;
  }
  #submit{
    margin-left: 5.2%;
    border-radius: 5px;
    padding: .38em 1.2em;
    background-color: #D26628;
  }
  .fa-check-circle-o{
    display: none;
    font-size: 2.15em;
    color: #989898;
    margin-left: 5%;
  }
  .input-items {
    margin: 2% auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 83.2%;
  }
  .input-items input{
    border: solid 1px #989898;
    border-radius: 5px;
  }
  #item {
    width: 40%;
    margin-right:2%;
  }
  #price {
    margin-left: -2%;
    width: 25%;
  }
  #addIt {
    padding: 0 2.8%;
    background-color: #D8D8D8;
    color: #979797;
    font-size: 1.5em;
    border-radius: 5px;
    margin-right: 1.5%;

  }
  .newItem {
    float: left:
  }
  .newPrice {
    float: right;
  }
  .results {
    margin: 15% auto;
    width: 70%;
  }
  #total {
    float: left;
  }
  #remaining {
    float: right;
  }
  #totalId {
    margin-left: 2%;
  }
  #remainingCash {
    margin-left: 2%;
  }
  .reset-div {
    display: flex;
  }
  #reset {
    font-size: 1.5em;
    font-family: 'Montserrat';
    font-weight: 300;
    color: white;
    background-color: #394B78;
    justify-content: center;
    padding: 1% 20%;
    margin: 35% auto 0 auto;
    position: relative;
    text-align: center;
    border-radius: 7px;
  }
}
