body{
  margin: 0;
  font-family: 'Open Sans';
  background-color: #FAFAFA;
  width: 100%;
}

header{
  margin: 0;
  background-color: #0D1A3C;
  color: #FFF;
  text-align: center;
  font-size: 2em;
}

header h3{
  margin: 0 auto;
  padding: 2% 0;
}

input{
  font-family: 'Open Sans';
  font-size: 1.5em;
  border: none;
  border-bottom: solid black 1px;
  outline: none;
  background-color: #FAFAFA;
}

button{
  background-color: #7DABE6;
  color: white;
  border: none;
  outline: none;
  padding: .5% 1%;
  font-size: 1em;
}

ul{
  list-style: none;
  width: 80%;
  margin: 5% auto 0 auto;
  padding: 0;
  display: block;
}

li{
display: block;
}

#wrapper{
  background-color: #FAFAFA;
  margin: 0 auto;
}

.ask-budget{
  width: 80%;
  margin: 2% auto 0 auto;
  position: relative;
  text-align: center;
}

#budget-input{
  width: 80%;
  margin-left: 2%;
}

#submit{
  margin-left: 2%;
}

.input-items{
  margin: 5% auto 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#item{
  width: 40%;
}
#price{
  margin-left: -2%;
  width: 25%;
}

#addIt{
  padding: 0 1%;
}

.newListItem{
  width: 95%;
  margin: 0 auto;
  display: block;
}

.newPrice{
  float: left;
}

.newEntry{
  float: right;
}

.results{
  margin: 15% auto;
  width: 70%;
}

#total{
  float: left;
}

#remaining{
  float: right;
}

#totalId{
  margin-left: 2%;
}

#remainingCash{
  margin-left: 2%;
}

.reset-div{
  display: flex;
}

#reset{
  font-weight: 300;
  font-size: 1.5em;
  color: white;
  background-color: #7DABE6;
  justify-content: center;
  padding: 1% 20%;
  margin: 35% auto 10% auto;
  position: relative;
  text-align: center;
}
